
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: larger;
    color: white
  }
  
  header {
    background-color: #783d87;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  
  .social-media-link {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .social-media-link a {
    color: white;
    text-decoration: none;
  }
  
  h1 {
    margin: 0;
  }
  
  .hero-section {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    animation: slide 8s infinite;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  nav {
    background-color:#783d87;
    color: white;
    text-align: center;
    color: #ffffff
  }
  
  nav h1 {
    font-size:xx-large
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size:xx-large
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 18px; 
    font-size:xx-large
  }
  
  .two-columns-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;    
  }
  
  .left-column,
  .right-column {
    flex-basis: 48%; 
  }
  
  .left-column img {
    max-width: 450px; /* Adjust the maximum width as needed */
    max-height: 450px; /* Adjust the maximum height as needed */
    color: white
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color:#783d87;
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-form,
  .search-bar,
  .address {
    width: 30%;
  }
  
  .contact-form form,
  .search-bar input,
  .search-bar button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .contact-form label,
  .search-bar label,
  .address p {
    margin-bottom: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
  }


  .map-link {
    display: inline-block; /* Ensures that the link behaves like a block-level element, allowing you to set width and height */
    max-width: 20px; /* Adjust the maximum width as needed */
    max-height: 20px; 
  }


/* menu page  */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .menu-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .menu-images img {
    width: 100%; 
    height: auto;
    max-width: 300px;
  }
  
  .menu-list {
    max-width: 600px; 
  }
  
  .menu-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff
    
  }
  
  .menu-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff
  }
  
  .menu-list li {
    margin-bottom: 20px;
    color: #ffffff
  }
  
  .menu-list h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #ffffff
  }



/* start of cats */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .cat-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .cat-item {
    text-align: center;
    margin-bottom: 20px;
    max-width: 300px; 
  }
  
  .cat-item img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
  }
  
  .cat-item h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff
  }
  
  .cat-item p {
    font-size: 14px;
    color: #ffffff;
  }


  .rescue-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }
  
  .rescue-links img {
    width: 80px; 
    height: auto;
  }
  
  .adoption-form {
    width: 60%;
    max-width: 400px; 
  }
  
  .adoption-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff
  }
  
  .adoption-form form {
    display: flex;
    flex-direction: column;
  }
  
  .adoption-form label,
  .adoption-form input,
  .adoption-form button {
    margin-bottom: 10px;
  }
  
  .adoption-form button {
    background-color: #29012b;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

/* start of contact */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #29012b;
  }
  
  .additional-information {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(221, 60, 194, 0.1);
  }
  
  h6 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff
  }
  
  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #ff5bcb;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }